# Ignore .env file
.env

# Ignore generated Dockerfiles
docker/*/Dockerfile

# Ignore generated configs
docker/nginx/config/nginx.conf
docker/mysql/config/mysql.cnf

# Exclude var directory content
var/*

# Keep .gitkeep files
!.gitkeep
